*{
    font-family: Garamond;
}

header{
    background-color: tomato;
    color: white;
    text-align: center;
    width: 100%;
    height: 80px;
}
main{
    width: 80%;
    height: 600px;
}

aside{
    background-color: coral;
    width: 20%;
    height: 680px;

}

footer{
    background-color: tomato;
    color:white;
    text-align: center;
    margin: 0px;
}
img{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.czat{
    border:solid 1px tomato;
    margin: 15px;
    height: 470px;
    overflow-y: scroll;
}

.jolka,.krzysiek{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}

.jolka{
    background-color: #EEE;
}
.jolkazdj{
    float:left;
}
.krzysiek{
    background-color: #CCC;
    text-align: right;

}

.krzysiekzdj{
    float:right;
}

.kontener{
    display: flex;
    flex-direction: row;
}

body{
    margin: 0px;
}

h2,h5{
    margin: 0px;
}

.przycisk1, .przycisk2{
    background-color: tomato;
    border: solid 1px darkred;
    padding: 5px;
    font-weight: bold;
}

.pole{
    width: 500px;
}
